* {
  margin: 0;
  padding: 0;
}

body {
  color: #676767;
}

a,
a:hover {
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: #676767;
}

.material-symbols-outlined {
  margin-right: 20px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.sidebar {
  position: fixed;
  width: 14rem;
  bottom: 0;
  left: 0;
  bottom: 0;
  display: block;
  height: calc(100vh - 50px);
}

.sidebar ul {
  box-sizing: content-box;
  margin: 20px 0;
}

.sidebar li {
  list-style-type: none;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  align-content: center;
  margin-right: 20px;
  box-sizing: content-box;
  border-radius: 0 24px 24px 0;
}

.sidebar li:hover {
  background: rgba(255, 59, 216, 0.1);
}

.navbar {
  box-sizing: content-box;
  padding: 0 30px;
  height: 50px;
  background-color: #fff;
  border-bottom: 0.5px rgb(216, 216, 216) solid;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  z-index: 2000;
}

.navbar .upload {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 5px 8px;
  box-sizing: content-box;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.navbar .upload:hover {
  background: rgba(255, 59, 216, 0.1);
}

.navbar .user-info {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 10px;
  position: relative;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.navbar img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: rgb(198, 198, 198);
}

.logout-wrap {
  background: #fff;
  padding: 10px;
  display: flex;
  width: 100px;
  top: 25px;
  right: 0;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  position: absolute;
  visibility: hidden;
}

.logout-link {
  display: flex;
  width: 100%;
  padding: 5px 8px;
  border-radius: 5px;
  box-sizing: content-box;
}

.logout-link:hover {
  background: rgba(255, 59, 216, 0.1);
}

.main-container {
  height: 1000px;
  box-sizing: content-box;
  margin-left: 14rem;
  padding: 30px;
}

.title-wrap {
  padding: 10px 0;
  font-size: large;
  border-bottom: 0.5px rgb(216, 216, 216) solid;
  margin-bottom: 20px;
}

.photo-wrap {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  box-sizing: content-box;
  flex: auto;
  flex-direction: row;
}

.photo-area {
  display: flex;
  width: auto;
  height: 200px;
  margin: 5px;
  box-sizing: content-box;
  margin-bottom: 10px;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  display: block;
  border-radius: 5px;
  background: transparent;
  margin-top: 50px;
}

::-webkit-scrollbar-thumb {
  background: rgb(214, 214, 214);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(177, 177, 177, 0.9);
}

footer {
  padding: 2rem 1rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  color: #495057;
  font-size: 0.5rem;
  width: 100%;
}

.grid-sizer,
.grid-item {
  width: 20%;
}

img {
  width: 100%;
}
