<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>相簿</title>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../static/css/style.css">

    <script src="https://masonry.desandro.com/masonry.pkgd.js"></script>
    <script src="../static/js/script.js"></script>
</head>

<body>
    <div class="sidebar">
        <ul>
            <a href="/photo/">
                <li>
                    <span class="material-symbols-outlined">
                        image
                    </span>
                    <span>相片</span>
                </li>
            </a>
            <a href="/album/">
                <li>
                    <span class="material-symbols-outlined">
                        photo_album
                    </span>
                    </span>
                    <span>相簿</span>
                </li>
            </a>
            <a href="/favorite/">
                <li>
                    <span class="material-symbols-outlined">
                        favorite
                    </span>
                    <span>收藏</span>
                </li>
            </a>
            <a href="/trash/">
                <li>
                    <span class="material-symbols-outlined">
                        delete
                    </span>
                    <span>垃圾桶</span>
                </li>
            </a>
        </ul>
        <footer>版權說明</footer>
    </div>

    <div class="navbar">
        <div class="upload">
            <span class="material-symbols-outlined" style="margin-right: 10px;">
                upload
            </span>
            <span>上傳</span>
        </div>
        <div class="user-info" id="userInfo" onclick="showLogout()">
            <span style="padding-right:10px">{{ name }}</span>
            <img src="https://i.pinimg.com/564x/81/1d/55/811d55b52e127f18200aa2ccaefa0cb2.jpg" alt="">
            <div class="logout-wrap" id="logoutWrap">
                <div class="logout-link">
                    <span class="material-symbols-outlined">
                        logout
                    </span>
                    <span>
                        登出
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="main-container">
        {% block content %}{% endblock %}
</body>

</html>