{% extends "base.html" %}
{% load static %}
{% load extras %}

{% block content %}
<div class="title-wrap">
    <span class="title">相片</span>
</div>
<div class="grid js-masonry"
    data-masonry-options='{ "itemSelector": ".grid-item", "columnWidth": ".grid-sizer", "percentPosition": "true" }'>
    <div class="grid-sizer"></div>
    <div class="grid-item">
        <div style="padding: 5px; box-sizing: content-box;" >
            <a href="">
                <!-- 
                <img src="https://lh3.googleusercontent.com/ziEzCZZqmpbPjNE2QQGqXklAzkdfRTac6QjZq_Z1rofthlxgI2pmsk37eRHcafXugID15mrYPzKr2hwGVcRNM-fpSDktWtkRvkFupRllK34pA58K5FY2Md0eOEVmxOJOHLqDxwvtugwiPOChTFUPDUCMHmYl6v0nXzvQR5fxTjDcIdE7JOyl2ZzqmXyPrspk-mzdZLLV6f7xx0oi0CL29v4WHxvfGERzE2-ka0TkBbE5e0vr_X_e-9pCPy8-jVKLIyHAL8L_KzpGgF2nDBIrlZa_qJGtJ6quOThHmaVDkK1t8uM95DhGrksjUo236yad4iWP1P2QhyREiPN_51lNo0xVSHdtjUmfoWO13w6628MEpCRquU5El3-sdhE9BcKT0ILmZ0KdDc_FyodHQUsdT8LUVyzge55nC14OcpaZRHMOZEVsPohYqOZeYCAodSa-9c_sWRRy9EVhVU6mwvcb5rnlaf-yLTyMwoWxUCNAvpUKz8qnifwg2691WL85t4-nho0YTrgB0rR-Ll7GG_IKJN34Z-RHvju6NVIWW9TOpy69MIoB7RMU-I4NcvjbDTZRXhkF7mo6ompo6t2nV4-W_nRhGgNineo9kMcOPZvEPZ-Uh0Qod7qRflhuJhoj8duNxehsZWQh_32McetzG-7xiMnkYzc47_-1QbdqLknWEnaeJ3cJaQd6f06507PwQxJzKHMg5jhMWfQVBOT5RQ2SoScx6cxe2KvQ30JesONqbjyvGnjHwUOaqhPoo1nN9g=w749-h499-no?authuser=0"
                    alt="">
                     --> 
                     {% for photo in photos %}
                     <div class="albumDiv">
                         <div class="picDiv" >
                             <a href="/albumphoto/{{photo.purl}}"><img src="{{photo.purl}}" alt="" ></a><!--因為資料庫設定圖片已經有/所以不用再打-->
                         </div>
                     </div>
                     {% endfor %}
            </a> 
        </div>
    </div>
</div>
{% endblock %}